.image-list {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(250px, 1fr));
  grid-auto-rows: 10px;
  column-gap: 1px;
  row-gap: 0.5px;
}

.image-list img {
  width: 250px;
  grid-row-end: span 2;
  border-radius: 15px;
  margin: auto;
  text-align: center;
  display: block;
}

@media (max-width: 767px) {
  .image-list {
    width: 100%;
  }
}
