.user-profile {
  width: 65%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-profile .data {
  align-self: flex-start;
  width: 100%;
}
.user-profile img {
  border-radius: 50%;
}
.user-profile .data .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.user-profile .data .button {
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 6px;  
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
}
.user-profile .data .button:hover {
  cursor: pointer;
}
.user-profile .data .button span {
  margin-left: 5px;
}

@media(max-width: 769px) {
  .user-profile {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 10px;
  } 
  .user-profile .data {
    flex-direction: row;
    margin-top: 20px;
  }
  .user-profile  img {
    width: 100px;
  }
  .user-profile .data h1{
    font-size: 22px;
  }
}